<section class="grid grid-2col">
  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-name">Skills</div>
      <div class="item-points">Points</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create skill" data-type="skill"><i class="fas fa-plus"></i> Add
          Skill</a>
      </div>
    </li>
    {{#each skills as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name">
        <h4>{{item.name}}</h4>
      </div>
      <div class="item-points item-prop">{{item.system.points}}</div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit skill"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete skill"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
  </ol>
  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-name">Knowledges</div>
      <div class="item-points">Points</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create knowledge" data-type="feature">
          <i class="fas fa-plus"></i> Add knowledge
        </a>
      </div>
    </li>
    {{#each knowledges as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name">
        <h4>{{item.name}}</h4>
      </div>
      <div class="item-points item-prop">{{item.system.points}}</div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit knowledge"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete knowledge"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
  </ol>
</section>
