<h3>Description</h3>
<div class="resources grid grid-3col">
  <div class="resource flex-group-center">
    <div class="resource-content flexrow flex-center flex-between">
      <label for="system.description.vocation" class="resource-label">Vocation :</label>
      <input type="text" name="system.description.vocation" value="{{system.description.vocation}}" data-dtype="Text" />
    </div>
    <div class="resource-content flexrow flex-center flex-between">
      <label for="system.description.origin" class="resource-label">Origin :</label>
      <input type="text" name="system.description.origin" value="{{system.description.origin}}" data-dtype="Text" />
    </div>
    <div class="resource-content flexrow flex-center flex-between">
      <label for="system.description.body_type" class="resource-label">Body Type :</label>
      <input type="text" name="system.description.body_type" value="{{system.description.body_type}}" data-dtype="Text" />
    </div>
    <div class="resource-content flexrow flex-center flex-between">
      <label for="system.description.gender" class="resource-label">Gender :</label>
      <input type="text" name="system.description.gender" value="{{system.description.gender}}" data-dtype="Text" />
    </div>
  </div>
  <div class="resource flex-group-center">
    <div class="resource-content flexrow flex-center flex-between">
      <label for="system.description.skin" class="resource-label">Skin :</label>
      <input type="text" name="system.description.skin" value="{{system.description.skin}}" data-dtype="Text" />
    </div>
    <div class="resource-content flexrow flex-center flex-between">
      <label for="system.description.eyes" class="resource-label">Eyes :</label>
      <input type="text" name="system.description.eyes" value="{{system.description.eyes}}" data-dtype="Text" />
    </div>
    <div class="resource-content flexrow flex-center flex-between">
      <label for="system.description.height" class="resource-label">Height :</label>
      <input type="text" name="system.description.height" value="{{system.description.height}}" data-dtype="Text" />
    </div>
    <div class="resource-content flexrow flex-center flex-between">
      <label for="system.description.nature" class="resource-label">Nature :</label>
      <input type="text" name="system.description.nature" value="{{system.description.nature}}" data-dtype="Text" />
    </div>
  </div>
  <div class="resource">
    <div class="resource-content flexrow flex-center">
      <label for="system.description.age" class="resource-label">Age :</label>
      <input type="text" name="system.description.age" value="{{system.description.age}}" data-dtype="Text" />
    </div>
    <div class="resource-content flexrow flex-center">
      <label for="system.description.hair" class="resource-label">Hair :</label>
      <input type="text" name="system.description.hair" value="{{system.description.hair}}" data-dtype="Text" />
    </div>
    <div class="resource-content flexrow flex-center">
      <label for="system.description.weight" class="resource-label">Weight :</label>
      <input type="text" name="system.description.weight" value="{{system.description.weight}}" data-dtype="Text" />
    </div>
  </div>

</div>
{{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the
rollData property. --}}
<h3>Background</h3>
{{editor content=system.biography target="system.biography" rollData=rollData button=true owner=owner
editable=editable}}