<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <div class="resources grid grid-2col">
        <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.experience_points.value" class="resource-label">Experience Points</label>
            <input type="Number" name="system.experience_points.value" value="{{system.experience_points.value}}"
              data-dtype="Number" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.money.value" class="resource-label">Money</label>
            <input type="Number" name="system.money.value" value="{{system.money.value}}"
              data-dtype="Number" />
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="competences">Competences</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Skill Knowledge Tab --}}
    <div class="tab features" data-group="primary" data-tab="competences">
      {{> "systems/hakaikousen/templates/actor/parts/actor-competences.html"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/hakaikousen/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{> "systems/hakaikousen/templates/actor/parts/actor-description.html"}}
    </div>

  </section>
</form>

