<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      <div class="resources grid grid-2col">
        <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.experience_points.value" class="resource-label">Experience Points</label>
            <input type="Number" name="system.experience_points.value" value="{{system.experience_points.value}}"
              data-dtype="Number" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <div class="resource-content flexrow flex-center flex-between">
            <label for="system.money.value" class="resource-label">Money</label>
            <input type="Number" name="system.money.value" value="{{system.money.value}}"
              data-dtype="Number" />
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="competences">Competences</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Skill Knowledge Tab --}}
    <div class="tab features" data-group="primary" data-tab="competences">
      <section class="grid grid-3col">
        <aside class="sidebar">
          <div class="abilities">
            <div class="stat flexrow flex-group-center">
              <label class="resource-label">STATS :</label>
              <label class="resource-label">BASE :</label>
              <label class="resource-label">POINTS :</label>
              <label class="resource-label">TOTAL :</label>
              <label class="resource-label">TEMP :</label>
            </div>
            {{#each system.stats as |stats key|}}
            <div class="stat flexrow flex-group-center">
              <label for="system.stats.{{key}}.value" class="resource-label">{{key}}</label>
              <input type="number" name="system.stats.{{key}}.base" value="{{stats.base}}" data-dtype="Number" />
              <input type="number" name="system.stats.{{key}}.points" value="{{stats.points}}" data-dtype="Number" />
              <span class="stats-value">{{numberFormat stats.value decimals=0}}</span>
              <span class="stats-mod">{{numberFormat stats.mod decimals=0 sign=true}}</span>
            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/hakaikousen/templates/actor/parts/actor-features.html"}}
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{> "systems/hakaikousen/templates/actor/parts/actor-description.html"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/hakaikousen/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/hakaikousen/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/hakaikousen/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>

