<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      {{#if (not system.passive)}}
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Energy</label>
          <input type="number" name="system.energy" value="{{system.energy}}" data-dtype="Number" />PP
        </div>
        <div class="resource">
          <label class="resource-label">Type</label>
          <select name="system.type" style="width:100%">
            {{#select system.type}}
            {{#each config.types as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Category</label>
          <select name="system.category" style="width:100%">
            {{#select system.category}}
              {{#each config.attackCategory as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>
        <div class="resource">
          <label class="resource-label">Scope</label>
          <!-- <input type="text" name="system.scope" value="{{system.scope}}" data-dtype="text" /> -->
          <select name="system.scope" style="width:100%">
            {{#select system.scope}}
            {{#each config.attackScope as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Accuracy</label>
          {{#if (not system.unavoidable)}}
            <input type="number" name="system.accuracy" value="{{system.accuracy}}" data-dtype="Number" />%
          {{/if}}
          <input type="checkbox" name="system.unavoidable" {{checked system.unavoidable}}>
        </div>
        <div class="resource">
          <label class="resource-label">Damages</label>
          {{#if system.hurts}}
          <input type="number" name="system.damages" value="{{system.damages}}" data-dtype="Number" />
          {{/if}}
          <input type="checkbox" name="system.hurts" {{checked system.hurts}}>
        </div>
      </div>
      {{/if}}
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>
  </section>

</form>
